@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@;400;500;600;&display=swap');

*  {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
   }
body{
    background: #E3F2FD;
}
.chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    background:#e91e63;
    border-radius:50%;
}
.chatbot-toggler span{
    position: absolute;

}
.show-chatbot .chatbot-toggler span:first-child

.chatbot-toggler span:last-child{
    opacity: 0;
}
.show-chatbot .chatbot-toggler span:last-child{
    opacity: 1;
}
.chatbot{
    position: fixed;
    right: 40px;
    bottom: 100px;
    width: 420px;
    transform: scale(0.5);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    background: #fff;
    border-radius: 15px ;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0, 0,0, 0.5);
}
.show-chatbot .chatbot{
    transform: scale(0.5);
    opacity: 1;
    pointer-events: auto;

}
.chatbot section{
    background: #000943;
    padding:  16px 0;
    text-align: center;
    position: relative;
}

.chatbot section h2{
    color:#fff;
    font-size: 1.4rem;

}
.chatbot section span{
    position: absolute;
    right: 20px;
    top: 50%;
    color: #fff;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}
.chatbot .chatbox{
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}
.chatbox .chat{
    display: flex;
}
.chatbox .incoming  span{
    height: 32px;
    width: 32px;
    color:#fff ;
    align-self: flex-end;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin: 0 10px 7px 0;
}
.chatbot .outgoing{
    margin: 20px 0;
    justify-content:flex-end;
}
.chatbot .chat p{
    color: white;
    max-width: 75%;
    padding: 12px 16px;
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    background: linear-gradient(#00bcd4,#e91e63,#3f51b5,#00bcd4);
}
.chatbox .incoming p{
    color: black;
    background: #f2f2f2;
    border-radius: 10px 10px 10px 0px;
}
.chatbot .chat-input{
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: flex;
    gap: 5px;
    background: #fff;
    padding: 5px 20px;
    border-top: 1px solid #ccc;
}
.chat-input textarea{
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}
.chat-input span{
    align-self: flex-end;
    height: 55px;
    line-height: 55px;
    color: #000943;
    font-size: 1.35rem;
    cursor: pointer;
    visibility: hidden;
}
.chat-input textarea:valid ~ span{
    visibility:visible;
}
@media(max-width:490px){
    .chatbox{
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .chatbot .chatbox{
        height: 90%;
    }
    .chatbot section span{
        display: block;
    }
}

.header{
    width: 100%;
    height: 100vh;
    background: #000943;
    padding-left: 11%;
    padding-right: 8%;
    position: relative;

    background-image: url(assets/LOGO\ DE\ DROGARI\ 1.png);
    background-size:38% ;
    background-repeat: no-repeat;
    background-position: 92% 100%;
}
.top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid #bababa;
}
.top-nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.top-nav button{
    background: #e91e63;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}
.side-nav{
    position: fixed;
    background: #e91e63;
    left: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background: linear-gradient(#00bcd4,#e91e63,#3f51b5,#00bcd4);
    background-size: 100% 500%;
    background-position:0 40% ;
}   
.side-nav:hover{
    animation: backcolor 20s linear infinite reverse;
}
@keyframes backcolor{
    0%{
        background-position: 0 0%;
    }
    100%{
        background-position: 0 400%;
    }
}
.side-nav .logo{
    width: 60px;
    cursor: pointer;
}
.side-nav a{
    text-decoration: none;
    color: #fff;
    transform: rotate(-90deg) translateX(50%);
    width: max-content;
}
.text-box{
    margin-top: 20%;
    font-size: 18px;
    color: #fff;
}
.text-box h1{
    font-weight: 500;
    font-size: 86px;
    max-width: 550px;
    line-height: 95px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.text-box .icon{
    background: #e91e63;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-box .icon img{
    width: 15px;
}